################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RaimiHook/v17
/Release
/.vs/RaimiHook/FileContentIndex
/Debug
/RaimiHook/Debug
/RaimiHook/Release